*{
    margin: 0%;
    padding:0%;
}
html,body{
    height:100%;
    width:100%;
}
h1{
    background-color: aqua;
    text-align: center;
}
#main{
    /*display:flex;
    justify-content: center;
    align-items: center;*/
    height:100%;
    width:100%;
}
.card{
    /* we use this position absolute wala 4 lines of code instead of main me flex , to display cards one on another */
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    height:300px;
    width:250px;
    border-color: rgb(245, 168, 209);
    border-width: 1px;
    border-style: solid;
    border-radius: 10%;

    overflow: hidden; /* it will help to adjust the border of the added photos with the card border */
}

#card1{
    z-index: 4;
    background-color: chartreuse;
}
#card2{
    z-index: 3;
    rotate:-7deg;
    background-color: blueviolet;
}
#card3{
    z-index: 2;
    rotate:-14deg;
    background-color: aqua;
}
#card4{
    z-index: 1;
    rotate:-21deg;
    background-color: bisque;
}
img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#card2:hover{
    z-index: 20;
}
#card3:hover{
    z-index: 20;
}
#card4:hover{
    z-index: 20;
}